<%- include('partials/header'); -%>
    <h1>Compose</h1>
    <form method="post" action="/compose">
        <label for="inputText"></label>
        <input type="text" id="inputText" name="inputText" placeholder="Enter your text here" size="50" maxlength="100" style="width:500px">
        <input type="submit" value="Publish">
      </form>
<%- include('partials/footer'); -%>